<div class='ListContainer'>
  <div>
      <h1>{{appTitle}}</h1>
  <div class='Input'>
      <input 
      type='text'
      placeholder="Song Search"
      name='search'
      [(ngModel)]='searchText'
      (ngModelChange)='searchChanged()'
      />
  </div>
  </div>
  <div [style.display]='loader' class="lds-facebook"><div></div><div></div><div></div></div>
  <div>
      <table *ngIf='songs'>
        <div *ngFor='let song of filteredSongs; let i = index'>
              <app-song 
              [index]="i+1"
              [song]='song'
              [title]="song.heading.title"
              [subtitle]="song.heading.subtitle"  
              [img]="song.images.default"    
              [url]="song.url"
              [id]="song.key"
              ></app-song>
        </div>
      </table>
  </div>
</div>
